body {
  background-color: #EEEEEE;
  margin-bottom: 1.5rem;
}

.bg-dark {
  background-color: #222831 !important;
}

.text-light {
  color: #EEEEEE !important;
}

.text-dark {
  color: #222831 !important;
}
